# Created by https://www.toptal.com/developers/gitignore/api/c++
# Edit at https://www.toptal.com/developers/gitignore?templates=c++

### C++ ###
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
inter-nic-relay

# VSCode settings folder
.vscode/

# Ignore source files
checksum.h
checksum.cpp
source/checksum.cpp
header/checksum.h
object/
study/

# End of https://www.toptal.com/developers/gitignore/api/c++
